body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin-top: 50px;
}

.hidden {
    display: none;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
